@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
:root{
  --dark:#171820;
  --blue:#3C4553;
  --blue-hover:#212332;
  --grey-hover:#9fa5ae;
  --green:#3BEC92;
  --green-hover:#30ac6c;
  --red:#d63437;
  --grey:#eef3f7;
  --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "Raleway", sans-serif;
}
body {
    background-color: var(--blue-hover);
}
h1 {
    text-align: center;
    color: var(--white);
}
h2 {
    font-size: 3rem;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 3rem;
    background: var(--blue-hover);
    text-align: center;
    color: var(--white);
}
/* Mensaje de alerta */
.alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem 2.5rem;
    border-radius: 35px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--green);
    transition: all 600ms;
    opacity: 0;
}
.alert a{
    text-decoration: none;
    color: var(--grey);
    padding: .3rem .9rem;
    font-size: 1.5rem;
    margin-left: 1rem;
    background-color: var(--red);
    border-radius: 50%;
}
.alert p{
    font-size: 1.5rem;
    margin: 0;
}
/* Logotipo */
.logo{
    font-size: 3rem;
    padding: .5rem 3rem;
    font-family: "Raleway", sans-serif;
    color: var(--green);
    font-weight: 400;
}
/* btn Borrar curso del carrito */
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
/* Home */
#home .row{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--white);
    padding: 1rem 3rem;
    background-image:url(../img/hero.jpg);
    height: 350px;
    background-size: cover;
}
#home .row h2{
    font-size: 5rem;
    margin: 1rem;
}
#home .row p{
    margin: 1rem;
    font-size: 2rem;
}
#encabezado {
    font-size: 4rem;
    font-weight: 600;
    margin: 30px 0;
}
.submenu {
    position: relative;
    color: var(--white);
    transition: all 600ms;
}
.submenu img{
    width: 50px;
    height: auto;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: flex;
    flex-direction: column;
    position: absolute;
    right:0;
    top:0;
    z-index: 10;
    background-color: var(--blue-hover);
    padding: 2rem;
    min-height: auto;
    width: 500px;
}
th,
td
{
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.row form {
    display: block;
    position: relative;
    margin-bottom: 0;
}
.row form #buscador {
    border: none;
    border-radius: 35px;
    padding: 0rem 6rem;
    color: var(--dark);
    height: 5rem;
    margin-bottom: 0;
}
.row form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 5rem;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-color: var(--white);
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 0 35px 35px 0;
    border:none;
}


.barra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 2rem;
    background: var(--green-hover); /* Old browsers */
    background: -moz-linear-gradient(left, var(--green) 0%, var(--green-hover) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, var(--green) 0%, var(--green-hover) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, var(--green) 0%, var(--green-hover) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    color: white;
    font-size: 1.5rem;
    margin: 2rem;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2rem;
    background-size: 3rem;
    text-align: center;
}
.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-cursos .row {
    margin-bottom:20px;
}
.agregar-carrito {
    margin:10px 0;
}
.lista-cursos .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 1rem 0;
    margin: 1rem 2.5rem;
    display: block;
    width:30rem;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}
.card img{
    border-radius: 5px;
}
.rigth{
    text-decoration: none;
}
.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info-card .precio .antes{
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}
.btn{
    font-size: 1.6rem;
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--green);
    padding: 1rem;
    border-radius: 35px;
    transition: all 600ms;
}
.btn:hover{
    background-color: var(--green-hover);
    color: var(--white);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--blue);
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    padding: 1rem 6rem;   
}
.footer .menu a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--green);
}
.footer .menu a:hover{
    color: var(--green-hover);
}


@media (max-width:728px) {
    .submenu:hover #carrito{
        width: 100%;
    }
    table{
        font-size: 1rem;
    }
    .btn-trash{
        font-size: 1rem;
        width: 100%;
    }
}
